<% if user_signed_in? %>
   # Show Some thing
<% else %>
<div class="hero-unit">
<h1> Welcome to ThooChee</h1>
<p>
 First -You've found the home page for the 
 <%= link_to "ThooChee", "http://thoochee.com" %>
 </p>

<p>
<%= link_to " Sign up Now!",new_user_registration_path, class: "btn btn-primary btn-large"%>	
</p>
</div>
<% end %>


