<div class="hero-unit">
<h1> Welcome to ThooChee</h1>
<p>
 First -You've found the home page for the 
 <%= link_to "ThooChee", "http://thoochee.com" %>
 </p>

<p>
<%= link_to " Sign up Now!","#", class: "btn btn-primary btn-large"%>	
</p>
</div>



